dashboard.json
[{"id":"8d9947e9.15c5b","type":"tab","label":"Conveyor","disabled":false,"info":""},{"id":"991d1c14.f9e2e8","type":"mqtt in","z":"8d9947e9.15c5b","name":"","topic":"conveyor/sensors","qos":"2","datatype":"auto","broker":"dd0f3194.f8d9b8","x":220,"y":260,"wires":[["99a7b7d2.a378b"]]},{"id":"4b1aceea.8a4cc","type":"ui_gauge","z":"8d9947e9.15c5b","name":"","group":"47243699.4d3198","order":1,"width":0,"height":0,"gtype":"gage","title":"Supply Voltage","label":"Volts","format":"{{value}}","min":0,"max":"36","colors":["#00a800","#e6e600","#ca3838"],"seg1":"24","seg2":"26","className":"","x":1000,"y":140,"wires":[]},{"id":"99a7b7d2.a378b","type":"json","z":"8d9947e9.15c5b","name":"","property":"payload","action":"","pretty":false,"x":430,"y":260,"wires":[["6d0c8312.c84474"]]},{"id":"6d0c8312.c84474","type":"function","z":"8d9947e9.15c5b","name":"Split Measurements","func":"volts = {payload: msg.payload.supply_voltage};\namps = {payload: msg.payload.supply_current};\ntemperature = {payload: msg.payload.motor_temperature};\nvibration = {payload: msg.payload.motor_vibration};\n\nreturn [volts, amps, temperature, vibration];","outputs":4,"noerr":0,"x":660,"y":260,"wires":[["4b1aceea.8a4cc"],["323189dd.5fbcf6"],["f318d163.1371c"],["84336633.ba6388"]]},{"id":"323189dd.5fbcf6","type":"ui_gauge","z":"8d9947e9.15c5b","name":"","group":"47243699.4d3198","order":1,"width":0,"height":0,"gtype":"gage","title":"Supply Current","label":"Amps","format":"{{value}}","min":0,"max":"5","colors":["#00a800","#e6e600","#ca3838"],"seg1":"24","seg2":"26","className":"","x":1000,"y":220,"wires":[]},{"id":"f318d163.1371c","type":"ui_gauge","z":"8d9947e9.15c5b","name":"","group":"47243699.4d3198","order":1,"width":0,"height":0,"gtype":"gage","title":"Motor Temperature","label":"°C","format":"{{value}}","min":0,"max":"100","colors":["#00a800","#e6e600","#ca3838"],"seg1":"50","seg2":"60","className":"","x":1010,"y":300,"wires":[]},{"id":"84336633.ba6388","type":"ui_gauge","z":"8d9947e9.15c5b","name":"","group":"47243699.4d3198","order":1,"width":0,"height":0,"gtype":"gage","title":"Motor Vibration","label":"Index","format":"{{value}}","min":0,"max":"70","colors":["#00a800","#e6e600","#ca3838"],"seg1":"24","seg2":"26","className":"","x":1000,"y":380,"wires":[]},{"id":"dd0f3194.f8d9b8","type":"mqtt-broker","z":"","name":"localhost","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"47243699.4d3198","type":"ui_group","z":0,"name":"Gauge 0-3","tab":"b9b97e02.332e6","order":4,"disp":false,"width":"5","collapse":false},{"id":"b9b97e02.332e6","type":"ui_tab","z":"","name":"Conveyor","icon":"dashboard","order":1,"disabled":false,"hidden":false}]